.container {
  border: 1px;
  padding: 10px;
  box-sizing: border-box;
  /* margin: 20px; */
}

.con1 {
  box-sizing: border-box;
  margin: 20px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  width: 300px;
  height: 300px;
  padding: 40px;
  border: 1px solid black;
}

.con2 {
  width: 300px;
  height: 300px;
  box-sizing: content-box;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  margin: 20px;
  padding: 40px;
  border: 1px solid black;
}
